<div class="row stretch">
  <div class="nine columns stretch">
    <div class="terminal stretch">
      <textarea name="" id=""></textarea>
    </div>
  </div>
  <div class="three columns">
    <div class="instructions">
      <h5>Level One</h5>
      <!-- TODO: Write better. -->
      <p>You've been tasked with solving a murder. Use ActiveRecord to find
      all of the suspects. (Hint, active record lets you get all of the records
      in a table by calling #all on that model.)</p>
      <p>Example:</p>
      <p>If you had a table of cats and wanted to see all of the records you
      could type <strong> Cat.all </strong></p>
    </div>
  </div>
</div>
