<div class="row stretch">
  <div class="nine columns stretch">
    <div class="terminal stretch">
      <textarea name="" id=""></textarea>
    </div>
  </div>
  <div class="three columns">
    <div class="instructions">
      <h5>Level One</h5>
      <!-- TODO: Write better. -->
      <p><%= @level.instructions %></p>
      <p>Example:</p>
      <p><%= @level.example %></p>
    </div>
  </div>
</div>
