<div class="row stretch">
  <div class="nine columns stretch">
    <div class="terminal stretch">
      <div class="history"></div>
      <span class="prompt">&gt;&gt;</span>
      <input type="text">
    </div>
  </div>
  <div class="three columns">
    <div class="instructions">
      <h5><%= @level.title %></h5>
      <p><%= @level.instructions %></p>
      <p>Example:</p>
      <p><%= @level.example %></p>
      <a href="/level/<%= @level.id + 1 %>" class="hidden-button" id="next-level-button"><button>Next</button></a>
    </div>
  </div>
</div>
